{% extends 'base.html'%}
{% import 'news_macros.html' as macro %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h3 class="text-center" style="margin-top:5%;">Health Article</h3>
        {{macro.display_new_articles(health)}}
    </div>
    <div class="row">
        <h3 class="text-center">Tech Articles</h3>
        {{macro.display_new_articles(tech)}}
    </div>
</div>
{% endblock %}