{% macro display_new_sources(sources_outcome) %}
    <div class="container-fluid">
        <div class="card-columns">
            {% for news in sources_outcome %}
            <div class="card">
                <div class="card-header source">
                    {{news.name}}
                </div>
                <div class="card-body">
                    <p>
                        {{news.description}}
                    </p>
                    <a href="{{news.url}}"><button class="btb btn-sm btn-outline-info">Visit {{news.name}}</button></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}
{% macro display_new_articles(articles_outcome) %}
<div class="container-fluid">
    <div class="card-columns">
        {% for article in articles_outcome %}
            <div class="card">
                <div class="card-header">{{article.title}}</div>
                <div class="card-body">
                    <img src="{{article.urlToImage}}" alt="{{article.title}}" class="card-img">
                    <p>
                        {{article.description}}
                    </p>
                    <p class="disabled">Posted: {{article.publishedAt | truncate(13)}} By: {{article.author | truncate(16)}}</p>
                </div>
                <div class="card-footer">
                     <a href="{{article.url}}"><button class="btn btn-sm btn-outline-success">More?</button></a>
                </div>
            </div>
        {% endfor %}
    </div>

</div>

{% endmacro %} 