{% extends 'base.html'%}
{% import 'news_macros.html' as macro%}
{% block content %}
<div class="container-fluid">

    

        {{ macro.display_new_sources(general) }}
    
    <div class="row">
        <h3 class="text-center"> Business News</h3>
        <ul>
            {% for busin in business %}
                <li>{{ busin.name}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <h3 class="text-center"> Sports news </h3>
        <ul>
            {% for busin in sports %}
                <li>{{ busin.name}}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}